{% if site.url %}
{% assign base_path = site.url | append: site.baseurl %}
{% else %}
{% assign base_path = site.github.url %}
{% endif %}
{% assign author = site.author %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    <img src="/images/profile.png" class="author__avatar" alt="Hiroki Hamaguchi">
  </div>
  <div class="author__content">
    <h3 class="author__name">Hiroki Hamaguchi</h3>
    <p class="author__bio">M2 Student</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Links</button>
    <ul class="author__urls social-icons">
      <li class="author__desktop">
        <a href="https://www.u-tokyo.ac.jp/en/">
          <i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>U-Tokyo</a>
      </li>
      <li>
        <a href="mailto:hirokihamaguchi0331@gmail.com">
          <i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a>
      </li>
      <li>
        <a href="https://scholar.google.com/citations?user=kynVVgUAAAAJ">
          <i class="ai ai-google-scholar icon-pad-right"></i>Google Scholar</a>
      </li>
      <li>
        <a href="https://orcid.org/0009-0005-7348-1356">
          <i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a>
      </li>
      <li>
        <a href="https://github.com/HirokiHamaguchi">
          <i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/hari64boli64">
          <i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>Twitter</a>
      </li>
      <li>
        <a href="https://www.youtube.com/@hari64boli64">
          <i class="fab fa-fw fa-youtube icon-pad-right" aria-hidden="true"></i>YouTube</a>
      </li>
    </ul>
  </div>
</div>